<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

    <!-- the targets -->
    <targets>
        <!-- write to file -->
        <target xsi:type="File" name="logfile" fileName="logs/databall-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=false}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <!-- write to console -->
        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=false}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    </targets>

    <!-- rules -->
    <rules>
        <!-- Output debug and above to file -->
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <!-- Output info and above to console -->
        <logger name="*" minlevel="Info" writeTo="logconsole" />
    </rules>
</nlog>